* {
  font-family: "Barlow";
  text-align: center;
}
.tickerLink {
  color: black;
}

.tickerLink:hover,
a {
  color: #bf9460;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #187fd9;
}

.searchTicker,
.profileMenu {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
