* {
  font-family: "Barlow";
  text-align: center;
}

.tickerLink,
.loginSignup,
.homePage {
  color: black;
}

.loginSignupDiv {
  text-align: right;
}

.tickerLink:hover,
.loginSignup:hover {
  color: #bf9460;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: verdana;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav,
menuitem {
  display: flex;
  justify-content: space-around;
  background-color: #3e608c;
  margin-top: 10px;
  align-items: center;
  font-size: 14px;
}

.searchTicker,
.profileMenu {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recharts-wrapper {
  margin: 0 auto;
}

.hodl {
  font-size: 42px;
  margin-bottom: auto;
}

@media only screen and (min-width: 768px) {
  .stockExchanges {
    animation: slide 15s linear infinite;
    border-color: #bf9460;
    display: flex;
    justify-content: space-around;
  }

  @keyframes slide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
